In [31]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder , OneHotEncoder
import pickle

In [32]:
## Load the dataset 
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [34]:
## Preprocess the data 
## drop irrelevant data 
data = data.drop(['RowNumber','CustomerId','Surname'],axis =1)

In [35]:
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [36]:
## Encode the categorical variables 
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [37]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

Cant simply apply label encoding , (lets say that france gets 2 after encoding) , since ANN might assume that one of the location is having higher priority

In [38]:
## One hot Encode geography column 
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])

In [39]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [40]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [41]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [42]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [43]:
## Combine the columns ( OHE ) with the original data 

data = pd.concat([data.drop('Geography',axis = 1),geo_encoded_df],axis = 1)

In [44]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [45]:
## Save the encoders and scalar 

with open ('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open ('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [46]:
## Divide the dataset into independent and dependent features

X = data.drop('Exited',axis = 1)
y = data['Exited']

## Split the data 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features 
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [47]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [48]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [49]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

## ANN Implementation

In [50]:
import tensorflow as tf

WARNING:tensorflow:From d:\ANN_End2End_Project\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [51]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [53]:
## Build our ANN model

model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  # HL1 connected with input layer
    Dense(32,activation='relu'),  # HL2
    Dense(1,activation='sigmoid') # Output layer 
]
)

WARNING:tensorflow:From d:\ANN_End2End_Project\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [55]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [58]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [59]:
## Compile the model 
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [ ]:
## Set up the Tensorboard

log_directory = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") 
tensorflow_callback = TensorBoard(log_dir=log_directory,histogram_freq=1)

In [65]:
## Set up Early Stopping 

''' Lets say i am running for 100 epochs and my model trained with the best params in the foirst 20 epochs only 
after wards its , just varying by 1 or 2 % , then it aint necessary for training ahead (if the loss value isnt decreasing)'''

early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [66]:
## Train the model 
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3387 - accuracy: 0.8596 - val_loss: 0.3467 - val_accuracy: 0.8660
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8622 - val_loss: 0.3494 - val_accuracy: 0.8600
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3335 - accuracy: 0.8639 - val_loss: 0.3457 - val_accuracy: 0.8635
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3297 - accuracy: 0.8634 - val_loss: 0.3526 - val_accuracy: 0.8555
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3300 - accuracy: 0.8637 - val_loss: 0.3593 - val_accuracy: 0.8645
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3291 - accuracy: 0.8645 - val_loss: 0.3514 - val_accuracy: 0.8610
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3254 - accuracy: 0.8681 - val_loss: 0.3387 - val_accuracy: 0.8665
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3239 - accuracy: 0.8656 - val_loss: 0.3409 - val_accuracy: 0.8595
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3220 - accuracy: 0.8690 - val_loss: 0.3377 - val_accuracy: 0.8635
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3188 - accuracy: 0.8716 - val_loss: 0.3435 - val_accuracy: 0.8610
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3154 - accuracy: 0.8715 - val_loss: 0.3479 - val_accuracy: 0.8630
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3169 - accuracy: 0.8687 - val_loss: 0.3409 - val_accuracy: 0.8550
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3099 - accuracy: 0.8739 - val_loss: 0.3465 - val_accuracy: 0.8650
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3092 - accuracy: 0.8720 - val_loss: 0.3475 - val_accuracy: 0.8655
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3118 - accuracy: 0.8739 - val_loss: 0.3446 - val_accuracy: 0.8615
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3068 - accuracy: 0.8769 - val_loss: 0.3490 - val_accuracy: 0.8625
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3063 - accuracy: 0.8735 - val_loss: 0.3430 - val_accuracy: 0.8660
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2974 - accuracy: 0.8775 - val_loss: 0.3522 - val_accuracy: 0.8630
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3005 - accuracy: 0.8770 - val_loss: 0.3446 - val_accuracy: 0.8670

In [70]:
model.save('model.h5')

d:\ANN_End2End_Project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

.h5 file is compatible with keras

In [71]:
## Load Tensorflow Extension 
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [74]:
%tensorboard --logdir logs/fit20250612-125118

Reusing TensorBoard on port 6007 (pid 5800), started 0:00:03 ago. (Use '!kill 5800' to kill it.)